
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #484849;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: inline-block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


strong,
b {
	font-weight: 700;
}







/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-100 {
	height: 100%;
}

.ov-h {
	overflow: hidden !important;
}

.text-editor {

	ul {
		margin-bottom: 1rem;
		padding-left: 40px;
		list-style: initial;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .5rem;
	}
	
	img,
	p {
		margin-bottom: 1rem;
	}

	a {
		display: inline;
		text-decoration: underline;
		color: $colorBase !important;
	}
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}
/*========== Internet Explorer ==========*/







/* Standards
=================================================================*/
.btn {
	font-family: $fontSecond;
	font-size: 14px;
	font-weight: 400;
	box-shadow: none !important;
	
	&.color_base {
		@include ButtonDark($colorBase);
		color: #fff;
	}
	
	
	&.color_alert {
		@include ButtonDark($colorAlert);
		color: #fff;
	}
}


.base_title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
}
.base_title_bx {
	display: flex;
	align-items: center;
	padding: 35px 15px 25px;
	
	
	&.border {
		border-bottom: 1px solid $colorBorder;
	}
	
	
	.back {
		flex: 0 0 auto;
		width: 22px;
		font-size: 22px;
		
		i {
			display: block;
		}
	}
	
	
	.base_title {
		flex: 1 1 auto;
		margin-bottom: 0;
	}
}


.form-label {
	margin-bottom: 5px;
	font-size: 13px;
}

.form-control {
	@include Placeholder(#c4c4c4);
	height: auto !important;
	padding: 10px 12px;
	border: 1px solid $colorBorder;
	border-radius: 0;
	font-size: 13px;
	box-shadow: none !important;
	
	&:focus {
		border-color: $colorBase;
	}
}


.base_hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 35px 0;
	border: 0;
	background: $colorBorder;
}



.input_type {
	vertical-align: middle;
	margin-bottom: 0;
	cursor: pointer;


	.inp {

	}


	.sign {
		width: 18px;
		height: 18px;
		border: 1px solid $colorBorder;

		&::before {
			content: '';
			display: block;
			opacity: 0;
			transition: all .2s;
		}
	}


	&:hover .sign {
		border-color: $colorBase;
	}


	.inp:checked ~ .sign {
		border-color: $colorBase;

		&::before {
			opacity: 1;
		}
	}


	&.text {
		min-height: 18px;
		padding-left: 30px;
		position: relative;
		font-size: 13px;

		.sign {
			position: absolute;
			left: 0;
			top: 1px;
		}
	}


	&.checkbox {

		.sign {

			&::before {
				width: 10px;
				height: 5px;
				margin-top: -3px;
				border: 2px solid $colorBase;
				border-top: 0;
				border-right: 0;
				transform: rotate(-45deg) scale(0);
			}
		}


		.inp:checked ~ .sign {

			&::before {
				transform: rotate(-45deg) scale(1);
			}
		}
	}


	&.radio {

		.sign {
			border-radius: 50%;

			&::before {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				transform: scale(0);
				background: $colorBase;
			}
		}


		.inp:checked ~ .sign {

			&::before {
				transform: scale(1);
			}
		}
	}
}



.base_pag {
	display: flex;

	> li {

		&:not(:last-of-type) {
			margin-right: 3px;
		}


		a {
			display: block;
			width: 28px;
			height: 28px;
			line-height: 28px;
			border: 1px solid transparent;
			border-radius: 4px;
			text-align: center;
			font-size: 13px;
			color: $colorBase;

			&:hover {
				border-color: $colorBorder;
			}
		}


		&.ctrl {

			a {

				i {

				}
			}
		}
		
		
		&.active a {
			border-color: $colorBorder;
			background: #fcfcfc;
			color: inherit;
		}
	}
}



@at-root .pc_prod {
	display: flex;

	@at-root .pc_prod_img_bx {
		width: 150px;
		
		@at-root .pc_prod_img {
			height: 105px;
			padding: 10px;
			border: 1px solid $colorBorder;
			position: relative;

			&:hover {
				border-color: $colorAlert;
			}


			img {
				max-height: 100%;
			}


			@at-root .pc_prod_like {
				position: absolute;
				right: 5px;
				top: 5px;
				color: #cecece;

				i {

					&.fa-heart-o {
						display: block;
					}


					&.fa-heart {
						display: none;
					}
				}


				&.active {
					color: $colorAlert;

					i {

						&.fa-heart-o {
							display: none;
						}


						&.fa-heart {
							display: block;
						}
					}
				}
			}
		}
	}


	@at-root .pc_prod_txt {
		width: calc(100% - 150px);
		padding-left: 15px;
		
		@at-root .pc_prod_desc {
			display: block;
			@include TextMask(63, 21, false);
			margin-bottom: 10px;
		}


		@at-root .pc_prod_art {
			font-size: 13px;
			color: $colorBase;
		}
	}
}
/*========== Standards ==========*/























/* Header
*****************************************************************************************************/
@at-root .header {
	
	@at-root .hdr_hd {
		height: 48px;
		
		@at-root .hdr_hd_inr {
			padding: 9px 0;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 50;
			box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
			background: #4f4f4f;
			color: #fff;
			

			@at-root .hdr_hd_place_bx {
				display: flex;
				align-items: center;

				@at-root .hdr_nav_btn {
					margin-right: 25px;

					a {
						display: block;

						.line {
							display: block;
							width: 24px;
							height: 3px;
							background: #fff;

							&:nth-of-type(1) {

							}


							&:nth-of-type(2) {
								margin: 5px 0;
							}


							&:nth-of-type(3) {

							}
						}
					}
				}


				@at-root .hdr_hd_place {
					display: flex;

					@at-root .hdr_hd_place_it {

						& + & {
							margin-left: 20px;
						}


						@at-root .hdr_hd_place_sel {
							position: relative;

							select {
								max-width: 120px;
								padding-right: 15px;
								border: 0;
								font-size: 13px;
								background: transparent;
								color: inherit;

								option {
									color: #000;
								}
							}


							i {
								height: 12px;
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								margin: auto;
								pointer-events: none;
								font-size: 12px;
							}
						}
					}
				}
			}


			@at-root .hdr_hd_ctt {

				a {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					font-size: 16px;
					background: $colorAlert;

					i {

					}
				}
			}
		}
	}
	
	
	@at-root .hdr_bd {
		margin-bottom: 20px;
		
		@at-root .hdr_bd_logo_bx {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
			
			@at-root .hdr_bd_logo {
				
				a {
					display: block;
					
					img {
						width: 100%;
						max-width: 180px;
					}
				}
			}
			
			
			@at-root .hdr_bd_act {
				flex: 0 0 auto;
				display: flex;
				align-items: center;
				margin-left: 20px;
				
				@at-root .hdr_bd_wish {
					margin-right: 20px;
					
					@at-root .hdr_bd_wish_btn {
						display: block;
						position: relative;
						padding-right: 10px;
						
						i {
							display: block;
							font-size: 30px;
						}
						
						
						.val {
							display: none;
							line-height: 17px;
							padding: 0 5px;
							border-radius: 100px;
							position: absolute;
							top: 1px;
							right: 0;
							font-family: $fontSecond;
							font-size: 12px;
							background: $colorAlert;
							color: #fff;
						}


						&.active {

							.val {
								display: block;
							}
						}
					}
				}
				
				
				@at-root .hdr_bd_cart {
					
					@at-root .hdr_bd_cart_btn {
						display: block;
						position: relative;
						padding-right: 10px;
						
						img {
							
						}
						
						
						.val {
							display: none;
							line-height: 17px;
							padding: 0 5px;
							border-radius: 100px;
							position: absolute;
							top: 0;
							right: 0;
							font-family: $fontSecond;
							font-size: 12px;
							background: $colorAlert;
							color: #fff;
						}
						
						
						&.active {
							
							.val {
								display: block;
							}
						}
					}
				}
			}
		}
		
		
		@at-root .hdr_bd_search_bx {
			
			@at-root .hdr_bd_search {
				position: relative;
				
				@at-root .hdr_bd_search_inp {
					display: block;
					width: 100%;
					height: 42px;
					padding-left: 13px;
					padding-right: 50px;
					border: 1px solid $colorAlert;
					border-radius: 4px;
					font-size: 13px;
				}
				
				
				@at-root .hdr_bd_search_btn {
					width: 42px;
					height: 42px;
					padding: 0;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 20px;
				}
			}
		}
	}
	
	
	@at-root .hdr_ft {
		
		@at-root .hdr_ft_nav {
			text-align: center;
			font-size: 13px;
			
			@at-root .hdr_ft_cat {
				height: 60px;
				padding: 0 10px !important;
				text-transform: uppercase;
				font-family: $fontSecond;
				background: $colorAlert;
				color: #fff !important;
				
				&.collapsed {
					background: $colorBase;
				}
				
				
				.txt {
					
				}
				
				
				i {
					margin-left: 5px;
				}
			}
			
			
			@at-root .hdr_ft_chem {
				height: 60px;
				padding: 0 10px !important;
				border-top: 1px solid $colorBorder;
				border-bottom: 1px solid $colorBorder;
				
				.txt {
					text-transform: uppercase;
				}
				
				
				.val {
					margin-left: 12px;
					padding: 2px 6px;
					border-radius: 6px;
					position: relative;
					font-size: 11px;
					background: $colorAlert;
					color: #fff;
					
					&::before {
						content: '';
						display: block;
						width: 0;
						height: 0;
						border: 4px solid transparent;
						border-right-color: $colorAlert;
						position: absolute;
						right: 100%;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
		}
		
		
		@at-root .hdr_ft_menu {
			
			@at-root .nav_catalog {
				text-transform: uppercase;
				font-family: $fontSecond;
				font-size: 12px;
				background: #f5f5f5;
				
				> li {
					
					& + li {
						border-top: 1px solid $colorBorder;
					}
					
					
					> a {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 15px 30px;
						
						.txt {
							
						}
						
						
						i {
							font-size: 20px;
							transition: all .3s;
							color: #cacaca;
						}
					}


					&.active > a i {
						transform: rotate(90deg);
					}
					
					
					@at-root .nav_catalog_drop {
						background: $colorBorder;
						
						> li {
							
							& + li {
								border-top: 1px solid #f5f5f5;
							}
							
							
							> a {
								display: block;
								padding: 10px 40px;
							}
						}
					}
				}
			}
		}
	}



	@at-root .nav_menu_bx {
		width: 100%;
		max-width: 350px;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 100;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateX(-105%);
		transition: all 0.5s ease;
		box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.2);
		background: #fff;
		
		&.active {
			transform: translateX(0);
		}
		
		
		@at-root .nav_menu {
			font-family: $fontSecond;

			@at-root .nav_menu_hd {
				display: flex;
				align-items: center;
				background: $colorBase;
				color: #fff;
				
				&.red {
					background: $colorAlert;
				}
				

				@at-root .nav_menu_user {
					flex: 1 1 auto;
					display: flex;
					align-items: center;
					padding: 0 15px;

					@at-root .nav_menu_user_it {

						& + & {
							margin-left: 30px;
						}


						a {
							font-weight: 700;
						}


						&.pc {

							a {
								display: flex;
								align-items: center;

								i {
									flex: 0 0 auto;
									margin-right: 5px;
									margin-bottom: 2px;
								}


								.txt {
									max-height: 42px;
									overflow: hidden;
									word-break: break-all;
									line-height: 1;
								}
							}
						}


						&.exit {
							flex: 0 0 auto;

							a {

								i {

								}


								.txt {

								}
							}
						}
					}
				}


				@at-root .nav_menu_act {
					flex: 0 0 auto;
					display: flex;

					@at-root .nav_menu_lang {
						width: 50px;
						height: 50px;
						position: relative;
						font-size: 12px;
						background: rgba(0, 0, 0, 0.1);

						select {
							height: 100%;
							width: 100%;
							padding-left: 10px;
							padding-right: 20px;
							border: 0;
							background: transparent;
							color: inherit;

							option {
								color: #000;
							}
						}


						i {
							height: 12px;
							position: absolute;
							right: 12px;
							top: 0;
							bottom: 0;
							margin: auto;
						}
					}


					@at-root .nav_menu_back {
						width: 50px;
						height: 50px;
						font-size: 12px;

						i {

						}
					}
				}
			}


			@at-root .nav_menu_bd {

				@at-root .nav_menu_cat {
					padding: 16px 15px;
					position: relative;
					text-transform: uppercase;
					font-size: 12px;

					&::before {
						content: '';
						display: block;
						width: 0;
						height: 0;
						border: 7px solid transparent;
						border-bottom: 0;
						border-top-color: #fff;
						position: absolute;
						top: 100%;
						left: 30px;
					}
				}


				@at-root .nav_menu_ls {
					border-bottom: 1px solid $colorBorder;

					> li {

						& + li {
							border-top: 1px solid $colorBorder;
						}


						> a {
							display: block;
							padding: 15px;

							@at-root .nav_menu_it {
								display: flex;
								align-items: center;
								font-weight: 600;
								color: #5a5a5b;

								i {
									flex: 0 0 auto;
									width: 25px;
									margin-bottom: 2px;
								}


								.txt {

								}
							}


							@at-root .nav_menu_ntf {
								height: 24px;
								position: absolute;
								right: 20px;
								top: 0;
								bottom: 0;
								margin: auto;

								img {
									height: 100%;
								}


								i {
									font-size: 24px;
								}


								.val {
									line-height: 17px;
									padding: 0 5px;
									border-radius: 100px;
									position: absolute;
									top: -2px;
									right: -11px;
									text-align: center;
									font-size: 12px;
									background: $colorAlert;
									color: #fff;
								}
							}
						}


						&.ntf {

							> a {
								padding-right: 50px;
								position: relative;
							}
						}
					}
				}
			}


			@at-root .nav_menu_ft {
				margin-top: 40px;

				@at-root .nav_menu_scl {
					padding: 0 15px;

					@at-root .nav_menu_scl_txt {
						margin-bottom: 15px;
						font-weight: 700;
					}


					@at-root .nav_menu_scl_ls {
						display: flex;
						flex-wrap: wrap;

						> li {
							margin-bottom: 10px;

							&:not(:last-of-type) {
								margin-right: 20px;
							}


							a {
								display: block;
								width: 46px;
								height: 46px;
								line-height: 44px;
								border: 1px solid $colorBase;
								border-radius: 50%;
								text-align: center;
								font-size: 16px;
								color: $colorBase;

								&:hover {
									background: $colorBase;
									color: #fff;
								}


								i {

								}
							}
						}
					}
				}
			}
		}
	}
	
	
	@at-root .nav_menu_bg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(255, 255, 255, 0.88);
		z-index: 95;
		
		
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
}
/*********** Header ***********/















/* Main
*****************************************************************************************************/
@at-root .main {
	
	@at-root .rek_bnr_sec {
		margin-bottom: 40px;
		
		@at-root .rek_bnr {
			
			@at-root .rek_bnr_it {
				display: block;
				
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
	
	
	@at-root .brand_sec {
		
		@at-root .brand {
			
			@at-root .brand_ttl {
				
			}
			
			
			@at-root .brand_cnt {
				
				@at-root .brand_row {
					margin: -10px;
					
					@at-root .brand_col {
						padding: 10px;

						@at-root .brand_it {
							display: block;

							img {
								display: block;
								width: 100%;
								height: 150px;
								object-fit: cover;
								box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
							}
						}
					}
				}
			}
			
			
			@at-root .brand_more {
				margin-top: 20px;
				
				a {
					color: $colorBase;
					
					.txt {
						
					}
					
					
					i {
						
					}
				}
			}
		}
	}
	
	
	@at-root .prod_idx_sec {
		margin-bottom: 35px;
		
		@at-root .prod_idx {
			
			@at-root .prod_idx_ttl {
				
			}
			
			
			@at-root .prod_idx_cnt {
				
				@at-root .product_v_gr {
					width: 100%;
					border-top: 1px solid $colorBorder;
					border-bottom: 1px solid $colorBorder;
					
					@at-root .product_v_row {
						display: flex;
						flex-wrap: wrap;
						
						& + & {
							border-top: 1px solid $colorBorder;
						}
						
						
						@at-root .product_v {
							width: 50%;
							padding: 30px 15px;
							
							& + & {
								border-left: 1px solid $colorBorder;
							}
							

							@at-root .product_v_hd {
								margin-bottom: 30px;
								position: relative;

								@at-root .product_v_img {
									height: 140px;

									.img {
										max-height: 100%;
									}
								}


								@at-root .product_v_like {
									position: absolute;
									top: 0;
									right: 0;
									font-size: 16px;
									color: #cecece;

									&:hover {
										color: $colorAlert;
									}


									i {

										&.fa-heart-o {
											display: block;
										}


										&.fa-heart {
											display: none;
										}
									}


									&.active {
										color: $colorAlert;

										i {

											&.fa-heart-o {
												display: none;
											}


											&.fa-heart {
												display: block;
											}
										}
									}
								}


								@at-root .product_v_ntf {
									width: 52px;
									height: 52px;
									border-radius: 50%;
									position: absolute;
									top: -10px;
									left: 0;
									text-align: center;
									text-transform: uppercase;
									font-family: $fontSecond;
									font-size: 9px;
									font-weight: 600;
									color: #fff;


									&.blue {
										background: #03a9f4;
									}


									&.green {
										background: #8bc34a;
									}
								}
							}


							@at-root .product_v_bd {
								@include TextMask(63, 21);
								margin-bottom: 30px;

								p {

								}
							}


							@at-root .product_v_ft {
								display: flex;
								justify-content: space-between;
								align-items: center;

								@at-root .product_v_price_bx {
									line-height: 1.3;
									text-align: right;
									font-family: $fontSecond;

									@at-root .product_v_price {
										font-size: 16px;

										.val {
											font-weight: 800;
										}


										&.txt {

										}
									}


									@at-root .product_v_discount {
										text-decoration: line-through;
										font-size: 13px;
										color: $colorAlert;
									}
								}


								@at-root .product_v_btn_bx {

									@at-root .product_v_btn {
										padding: 5px 20px;
									}
								}
							}
						}
					}
				}
			}
			
			
			@at-root .prod_idx_more {
				
			}
		}
	}
	
	
	@at-root .client_sec {
		margin-bottom: 35px;
		padding: 35px 0;
		background: #f5f5f5;
		
		@at-root .client {
			
			@at-root .client_ttl {
				
			}
			
			
			@at-root .client_cnt {
				margin: 0 -7px;
				
				@at-root .client_bnr {
					
					.owl-item {
						padding: 0 7px;
					}
					
					
					@at-root .client_bnr_it {
						height: 80px;
						padding: 15px;
						background: #fff;
						
						img {
							max-height: 100%;
						}
					}
				}
			}
		}
	}
	
	
	@at-root .about_idx_sec {
		margin-bottom: 55px;
		
		@at-root .about_idx {
			
			@at-root .about_idx_ttl {
				
			}
			
			
			@at-root .about_idx_cnt {
				font-size: 13px;
				color: #9b9b9b;
				
				p {
					
				}
			}
		}
	}
}
/*********** Main ***********/















/* Footer
*****************************************************************************************************/
@at-root .footer {
	
	@at-root .alphabet_sec {
		padding: 35px 0;
		background: #e6f6f7;
		
		@at-root .alphabet {
			
			@at-root .alphabet_ttl {
				
			}
			
			
			@at-root .alphabet_cnt {
				
				@at-root .alphabet_signs {
					text-transform: uppercase;
					font-size: 16px;
					color: $colorLink;
					
					& + & {
						margin-top: 30px;
					}
					
					
					.letter {
						margin-right: 15px;
						
						a {
							padding: 0 5px;
						}
					}
					
					
					.number {
						
						a {
							
						}
					}
				}
			}
		}
	}
	
	
	@at-root .ftr_menu_sec {
		
		@at-root .ftr_menu {
			background: $colorBase;
			color: #fff;
			
			> li {
				
				& + li {
					border-top: 1px solid #3ebfc8;
				}
				
				
				a {
					display: block;
					padding: 15px;
					font-family: $fontSecond;
					
					&:hover {
						background: #3ebfc8;
					}
				}
			}
		}
	}
	
	
	@at-root .ftr_scl_sec {
		padding: 15px 0;
		background: #3ebfc8;
		color: #fff;
		
		@at-root .ftr_scl {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			
			@at-root .ftr_scl_txt {
				margin: 10px 0;
				margin-right: 40px;
				font-family: $fontSecond;
			}
			
			
			@at-root .ftr_scl_ls {
				display: flex;
				flex-wrap: wrap;
				
				> li {
					padding: 5px 0;
					
					&:not(:last-of-type) {
						margin-right: 20px;
					}
					
					
					a {
						display: block;
						width: 46px;
						height: 46px;
						line-height: 44px;
						border: 1px solid #fff;
						border-radius: 50%;
						text-align: center;
						font-size: 16px;
						
						&:hover {
							background: #fff;
							color: #3ebfc8;
						}
						
						
						i {
							
						}
					}
				}
			}
		}
	}
	
	
	@at-root .ftr_info_sec {
		padding: 20px 0;
		background: $colorBase;
		color: #fff;
		
		@at-root .ftr_info {
			display: flex;
			justify-content: space-between;
			
			@at-root .ftr_info_copy {
				font-family: $fontSecond;
				font-size: 13px;
				
				p {
					
					& + p {
						margin-top: 15px;
					}
					
					
					a {
						text-decoration: underline;
					}
				}
			}
			
			
			@at-root .ftr_info_anchor {
				flex: 0 0 auto;
				margin-left: 20px;
				
				a {
					flex-direction: column;
					width: 58px;
					height: 58px;
					border: 5px solid #9ee5ea;
					border-radius: 50%;
					
					i {
						margin-bottom: 2px;
						line-height: 10px;
						font-size: 24px;
					}
					
					
					.txt {
						font-size: 11px;
					}
				}
			}
		}
	}
}
/*********** Footer ***********/












/* Contact
*****************************************************************************************************/
@at-root .contact {
	margin-bottom: 70px;
	
	@at-root .contact_info {
		padding: 30px 15px;
		
		@at-root .contact_info_it {
			display: flex;
			
			& + & {
				margin-top: 20px;
			}
			
			
			.txt {
				flex: 0 0 auto;
				width: 100px;
				color: $colorBase;
			}
			
			
			.val {
				
				p {
					
				}
				
				
				a {
					color: $colorLink;
				}
			}
		}
	}
	
	
	@at-root .contact_form_bx {
		padding: 0 15px;
		
		@at-root .contact_form {
			padding: 30px 20px;
			background: #f5f5f5;
			
			@at-root .contact_form_ttl {
				margin-bottom: 1rem;
				font-size: 18px;
			}
			
			
			@at-root .contact_form_btn {
				width: 100%;
				padding: 15px 10px;
				font-size: 13px;
			}
		}
	}
}
/*********** Contact ***********/












/* Partner
*****************************************************************************************************/
@at-root .partner {
	
	@at-root .partner_cnt {
		margin-bottom: 60px;
		
		@at-root .partner_img {
			width: 100%;
			margin-bottom: 30px !important;
		}
	}
}
/*********** Partner ***********/












/* Registration
*****************************************************************************************************/
@at-root .reg {
	
	@at-root .auth_form {
		padding: 0 15px;
		
		.form-group {
			margin-bottom: 20px;
		}


		@at-root .auth_sel {
			position: relative;

			select {
				padding-right: 22px;
			}


			i {
				height: 14px;
				position: absolute;
				right: 12px;
				top: 0;
				bottom: 0;
				margin: auto;
				z-index: 3;
				pointer-events: none;
			}
		}


		@at-root .auth_inp {
			position: relative;

			@at-root .auth_img {
				width: 34px;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				z-index: 3;
				pointer-events: none;

				img {

				}
			}


			.form-control {
				padding-left: 34px;
				font-size: 13px;
			}
		}


		@at-root .auth_chk {

			a {
				color: $colorLink;

				&:hover {
					color: $colorAlert;
				}
			}
		}


		@at-root .auth_btn {
			width: 100%;
			padding: 12px;
			text-transform: uppercase;
			font-size: 13px;
		}
	}


	@at-root .reg_tel {
		display: flex;

		@at-root .reg_tel_inp {
			flex: 1 1 auto;
		}


		@at-root .reg_tel_btn {
			flex: 0 0 auto;
			margin-left: 20px;
			padding: 9px 12px;
		}
	}


	@at-root .reg_tel_capt {
		margin-top: 7px;
		font-size: 12px;
		font-weight: 300;
		color: #bbb;
	}
}
/*********** Registration ***********/












/* Delivery
*****************************************************************************************************/
@at-root .delivery {
	
	.text-editor {
		font-size: 13px;
	}
}
/*********** Delivery ***********/












/* Delivery Address
*****************************************************************************************************/
@at-root .dlvr_adrs {
	
	@at-root .dlvr_adrs_form {
		padding: 30px 15px 50px;
	}
	
	
	@at-root .dlvr_adrs_saved {
		padding: 15px;
		padding-bottom: 60px;
		background: #f5f5f5;
		
		@at-root .dlvr_adrs_it {
			padding: 15px;
			padding-bottom: 40px;
			background: #fff;
			
			& + & {
				margin-top: 15px;
			}
			
			
			@at-root .dlvr_adrs_it_nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
				
				@at-root .dlvr_adrs_it_man {
					width: calc(100% - 24px);
					padding-left: 25px;
					padding-right: 15px;
					position: relative;
					
					i {
						width: 17px;
						height: 17px;
						line-height: 17px;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 2px;
						text-align: center;
						font-size: 10px;
						background: $colorBase;
						color: #fff;
					}
					
					
					.txt {
						width: 100%;
						font-size: 16px;
						font-weight: 700;
					}
				}
				
				
				@at-root .dlvr_adrs_it_cls {
					display: block;
					width: 24px;
					height: 26px;
					position: relative;
					
					&::before,
					&::after {
						content: '';
						display: block;
						width: 20px;
						height: 1px;
						background: #989898;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}


					&::before {
						transform: rotate(-45deg);
					}

					
					&::after {
						transform: rotate(45deg);
					}
				}
			}
			
			
			@at-root .dlvr_adrs_it_info {
				margin-bottom: 40px;
				font-size: 13px;
				
				> li {
					display: flex;
					
					& + li {
						margin-top: 15px;
					}
					
					
					.txt {
						width: 35%;
					}
					
					
					.val {
						width: 65%;
						font-weight: 700;
						
						p {
							
						}
					}
				}
			}
			
			
			@at-root .dlvr_adrs_it_btn {
				
				.btn {
					width: 100%;
					padding: 9px;
				}
			}
		}
	}
}
/*********** Delivery Address ***********/











/* Oferta
*****************************************************************************************************/
@at-root .oferta {
	
}
/*********** Oferta ***********/











/* Security
*****************************************************************************************************/
@at-root .security {
	
	@at-root .security_capt {
		padding: 0 15px;
	}
}
/*********** Security ***********/












/* Information User
*****************************************************************************************************/
@at-root .info_user {
	
	@at-root .info_user_up_bx {
		display: flex;
		align-items: center;
		padding: 0 15px;
		font-size: 13px;
		
		@at-root .info_user_up_lbl {
			margin-right: 20px;
		}


		@at-root .info_user_up {
			display: flex;
			align-items: center;

			@at-root .info_user_up_img {
				margin-right: 15px;

				@at-root .img_upload {
					width: 80px;
					height: 80px;
					margin-bottom: 0;
					border: 1px dashed $colorBase;
					border-radius: 4px;
					overflow: hidden;
					cursor: pointer;
					color: $colorBase;


					&.round {
						border-radius: 50%;
					}


					.inp {

					}


					.img {
						display: none;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}


					.txt {
						display: block;
					}


					&.active {

						.img {
							display: block;
						}


						.txt {
							display: none;
						}
					}
				}
			}


			@at-root .info_user_up_txt {
				color: #b4b4b4;
			}
		}
	}
}
/*********** Information User ***********/












/* Help
*****************************************************************************************************/
@at-root .help {
	margin-bottom: 60px;
	
	@at-root .help_menu {
		margin-bottom: 30px;
		
		> li {
			border-bottom: 1px solid $colorBorder;
			
			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 30px 15px;
				font-size: 20px;
				font-weight: 700;
				
				.txt {
					
				}
				
				
				i {
					margin-left: 20px;
					font-size: 16px;
				}
			}
		}
	}
	
	
	@at-root .help_capt {
		padding: 0 15px;
		font-size: 13px;
	}
}
/*********** Help ***********/















/* Pharmacy List
*****************************************************************************************************/
@at-root .pharmacy {
	
	@at-root .pharmacy_map_bx {
		
		@at-root .pharmacy_map_cls {
			margin-bottom: 20px;
			
			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 15px;
				
				.txt {
					color: $colorLink;
					
					&.op {
						display: none;
					}
					
					
					&.cl {
						display: block;
					}
				}
				
				
				i {
					transition: all .3s;
				}


				&.active {

					.txt {

						&.op {
							display: block;
						}


						&.cl {
							display: none;
						}
					}
					
					
					i {
						transform: rotate(180deg);
					}
				}
			}
		}


		@at-root .pharmacy_map {
			position: relative;
			overflow: hidden;

			@at-root .pharmacy_map_img {
				display: block;
				width: 100%;
				height: 580px;
				object-fit: cover;
			}


			@at-root .pharmacy_map_marker {
				position: absolute;

				@at-root .pharmacy_map_marker_icon {
					width: 28px;
					height: 28px;
					padding: 5px;
					border-radius: 50%;
					position: relative;
					cursor: pointer;
					background: $colorAlert;

					&::before {
						content: '';
						display: block;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						position: absolute;
						top: calc(100% - 2px);
						left: 0;
						right: 0;
						margin: auto;
						border-top-color: $colorAlert;
					}


					.img {
						max-height: 100%;
					}
				}


				@at-root .pharmacy_map_pop {
					display: none;
					width: 260px;
					padding: 15px;
					border-radius: 4px;
					position: absolute;
					left: -10px;
					bottom: calc(100% + 15px);
					box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
					background: #fff;

					&::before {
						content: '';
						display: block;
						width: 0;
						height: 0;
						border: 9px solid transparent;
						position: absolute;
						top: 100%;
						left: 15px;
						border-top-color: #fff;
					}


					&.active {
						display: block;
					}


					@at-root .pharmacy_map_pop_hd {
						margin-bottom: 10px;

						a {
							font-size: 14px;
							color: $colorLink;
						}
					}


					@at-root .pharmacy_map_pop_bd {
						margin-bottom: 15px;

						.base {
							color: $colorBase;
						}
					}


					@at-root .pharmacy_map_pop_ft {

						@at-root .pharmacy_map_pop_btn {
							padding: 3px 12px;
							font-family: inherit;
							font-size: 12px;
						}
					}
				}
			}


			@at-root .pharmacy_map_gr {
				position: absolute;

				@at-root .pharmacy_map_gr_num {
					width: 60px;
					height: 60px;
					border: 5px solid $colorBase;
					border-radius: 50%;
					cursor: pointer;
					font-size: 18px;
					font-weight: bold;
					background: #fff;
					color: #787a7d;
				}
			}
		}
	}
	
	
	@at-root .pharmacy_res {
		padding-bottom: 40px;
		background: #f5f5f5;
		
		@at-root .pharmacy_res_hd {
			padding: 20px 15px;
			background: #fff;
			
			@at-root .pharmacy_res_ttl {
				margin-bottom: 15px;
				font-weight: 700;
			}
			
			
			@at-root .pharmacy_res_search {

				.hdr_bd_search_inp {
					border-color: #f4f4f4;
					background: #f4f4f4;
					
					&:focus {
						background-color: transparent;
					}
				}
			}
		}
		
		
		@at-root .pharmacy_res_bd {
			padding: 15px;
			
			@at-root .pharmacy_res_it {
				padding: 20px 15px;
				background: #fff;
				
				& + & {
					margin-top: 15px;
				}
				
				
				@at-root .pharmacy_res_it_ttl {
					margin-bottom: 15px;
					
					a {
						font-size: 15px;
						color: $colorLink;
					}
				}
				
				
				@at-root .pharmacy_res_it_info {
					margin-bottom: 20px;
					
					> li {
						display: flex;
						
						& + li {
							margin-top: 10px;
						}
						
						
						i {
							margin-top: 2px;
							margin-right: 15px;
							color: #cacaca;
						}
						
						
						.txt {
							font-size: 13px;
						}
					}
				}
				
				
				@at-root .pharmacy_res_it_act {
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 13px;
					
					@at-root .pharmacy_res_it_show {
						
						.bt {
							color: $colorLink;
						}
					}
					
					
					@at-root .pharmacy_res_it_btn {
						
						.btn {
							padding: 6px 15px;
						}
					}
				}
			}
		}
		
		
		@at-root .pharmacy_res_ft {
			display: flex;
			justify-content: center;
			padding: 15px 0;
			background: #fff;
		}
	}
}
/*********** Pharmacy List ***********/











/* Pharmacy Map
*****************************************************************************************************/
@at-root .pharmacy_one {
	
	@at-root .pharmacy_one_info {
		padding: 30px 15px;
		font-size: 13px;
		
		@at-root .pharmacy_one_info_ls {
			margin-bottom: 30px;
			
			> li {
				display: flex;
				
				& + li {
					margin-top: 20px;
				}
				
				
				@at-root .pharmacy_one_info_txt {
					display: flex;
					align-items: center;
					width: 40%;
					min-width: 120px;
					font-style: italic;
					color: #b2b2b2;
					
					i {
						margin-right: 10px;
					}
					
					
					.val {
						
					}
				}
				
				
				@at-root .pharmacy_one_info_val {
					width: 60%;
					padding-left: 15px;
				}
			}
		}
		
		
		@at-root .pharmacy_one_info_more {
			margin-bottom: 20px;
			
			.btn {
				width: 100%;
				padding: 13px;
			}
		}
		
		
		@at-root .pharmacy_one_info_geo {
			text-align: center;
			
			.bt {
				text-transform: uppercase;
				color: $colorLink;
				
				i {
					
				}
				
				
				.txt {
					
				}
			}
		}
	}
}
/*********** Pharmacy Map ***********/












/* Goods
*****************************************************************************************************/
@at-root .goods {
	
	@at-root .goods_ttl {
		
	}
	
	
	@at-root .goods_cnt {
		
		@at-root .goods_tab_nav {
			border-bottom: 1px solid $colorAlert;
			
			.btn {
				width: 50%;
				padding: 10px;
				border-radius: 4px 4px 0 0;
				white-space: normal;
				font-weight: 700;
				background: #ededef;
				
				&.active {
					background: $colorAlert;
					color: #fff;
				}
			}
		}
		
		
		@at-root .goods_tab_cnt {

			@at-root .goods_add {
				
				@at-root .goods_add_ttl {
					padding: 25px 15px;
				}
				
				
				@at-root .goods_add_cnt {
					padding: 15px;
					padding-bottom: 40px;
					background: #f5f5f5;
					
					@at-root .goods_add_it {
						padding: 15px;
						padding-bottom: 40px;
						background: #fff;
						
						
						& + & {
							margin-top: 15px;
						}
						
						
						@at-root .goods_add_del {
							display: flex;
							justify-content: flex-end;
							margin-bottom: 5px;
							
							button {
								display: block;
								width: 17px;
								height: 17px;
								position: relative;
								
								
								&::before,
								&::after {
									content: '';
									display: block;
									width: 17px;
									height: 1px;
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									right: 0;
									margin: auto;
									background: #989898;
								}
								
								
								&::before {
									transform: rotate(45deg);
								}
								
								
								&::after {
									transform: rotate(-45deg);
								}
							}
						}
						
						
						@at-root .goods_add_prod {
							margin-bottom: 15px;
						}
						
						
						@at-root .goods_add_num {
							display: flex;
							margin-bottom: 25px;
							
							@at-root .goods_add_qty {
								width: 150px;
								
								@at-root .goods_add_qty_ttl {
									margin-bottom: 10px;
									font-family: $fontSecond;
									font-weight: 700;
								}
								
								
								@at-root .pc_prod_qty {
									display: flex;

									.bt {
										width: 34px;
										height: 34px;
										border: 1px solid $colorBorder;
										font-size: 14px;
										background: #f4f4f4;

										i {
											display: block;
										}
										
										
										&.minus {
											border-right: 0;
											border-radius: 4px 0 0 4px;
										}


										&.plus {
											border-left: 0;
											border-radius: 0 4px 4px 0;
										}
									}


									.inp {
										width: 60px;
										height: 34px;
										border: 1px solid $colorBorder;
										text-align: center;
										
										&:disabled {
											background: #f4f4f4;
										}
									}


									&.no-ctrl {

										.bt {
											display: none;
										}


										.inp {
											border-radius: 4px;
										}
									}
								}
							}
							
							
							@at-root .goods_add_price {
								width: calc(100% - 150px);
								padding-left: 15px;
								
								@at-root .goods_add_price_ttl {
									margin-bottom: 10px;
									font-family: $fontSecond;
									font-weight: 700;
								}
								
								
								@at-root .goods_add_price_inp {
									display: flex;
									align-items: center;
									
									.inp {
										width: 70%;
										max-width: 200px;
										height: 34px;
										border: 1px solid $colorBorder;
										border-radius: 4px;
										text-align: center;
									}
									
									
									.txt {
										margin-left: 10px;
										font-size: 16px;
									}
								}
							}
						}
						
						
						@at-root .goods_add_btn {
							width: 100%;
							padding: 9px;
							@include ButtonDark(#ededef);
						}
					}
				}
			}
			
			
			@at-root .goods_create {
				margin-bottom: 60px;
				padding: 0 15px;
				padding-top: 40px;

				@at-root .goods_create_ttl {
					margin-bottom: 30px;
					font-size: 16px;
					font-weight: 700;
				}


				@at-root .goods_create_cnt {

					@at-root .goods_create_txt {
						margin-bottom: 25px;
					}


					@at-root .goods_create_txtar {
						margin-bottom: 15px;

						textarea {

						}
					}


					@at-root .goods_create_act {
						margin-bottom: 30px;

						@at-root .goods_create_upl {
							display: flex;
							justify-content: space-between;
							font-size: 13px;

							.lbl {
								margin-bottom: 0;
								cursor: pointer;
								color: $colorLink;

								&:hover {
									color: $colorAlert;
								}


								&:not(:last-of-type) {
									margin-right: 30px;
								}


								i {
									margin-right: 5px;
								}
							}
						}


						@at-root .goods_create_upl_ls {
							margin-top: 10px;
							font-size: 12px;
							color: #aaa;

							> li {

								.bt {
									margin-left: 10px;
									color: $colorAlert;
								}
							}
						}
					}


					@at-root .goods_create_btn {
						width: 100%;
						padding: 9px;
					}
				}
			}
		}
	}
}
/*********** Goods ***********/












/* Cart
*****************************************************************************************************/
@at-root .cart {
	
	@at-root .cart_hd {
		
	}
	
	
	@at-root .cart_bd {
		
		@at-root .cart_gr {
			border-top: 1px solid $colorBorder;
			
			@at-root .cart_gr_hd {
				padding: 15px;
				border-bottom: 1px solid $colorBorder;
				font-size: 13px;
				
				a {
					color: $colorLink;
				}
			}
			
			
			@at-root .cart_gr_bd {
				
				@at-root .cart_it {
					padding: 15px;
					
					& + & {
						border-top: 1px solid $colorBorder;
					}
					
					
					@at-root .cart_it_num {
						align-items: center;
						margin-bottom: 0;
						
						@at-root .pc_prod_price {
							display: flex;
							
							@at-root .pc_prod_price_inr {
								text-align: right;
								line-height: 1.3;
								font-family: $fontSecond;
								
								.price {
									font-size: 18px;
									font-weight: 700;
								}
								
								
								.discount {
									text-decoration: line-through;
									font-size: 13px;
									color: $colorAlert;
								}
							}
						}
					}
				}
			}
			
			
			@at-root .cart_gr_ft {
				padding: 30px 15px;
				background: #f5f5f5;
				
				@at-root .cart_dlvr {
					margin-bottom: 20px;
					
					@at-root .cart_dlvr_ttl {
						margin-bottom: 10px;
						font-weight: 700;
					}
					
					
					@at-root .cart_dlvr_type {
						
					}
				}
				
				
				@at-root .cart_expense {
					margin-bottom: 20px;
					
					> li {
						display: flex;
						justify-content: space-between;
						align-items: center;
						
						& + li {
							margin-top: 10px;
						}
						
						
						.txt {
							font-size: 13px;
							color: #8f8f8f;
						}
						
						
						.val {
							font-family: $fontSecond;
							font-size: 16px;
							font-weight: 700;
						}
					}
				}
				
				
				@at-root .cart_expense_tot {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;
					padding: 15px;
					font-weight: 700;
					background: $colorBorder;
					
					.txt {
						font-size: 16px;
					}
					
					
					.val {
						font-family: $fontSecond;
						font-size: 18px;
					}
				}
				
				
				@at-root .cart_btn_sm {
					width: 100%;
					padding: 9px;
				}
			}
		}
	}
	
	
	@at-root .cart_ft {
		padding: 50px 15px;
		
		@at-root .cart_expense_all {
			
		}
		
		
		@at-root .cart_expense_tot_all {
			background: #f5f5f5;
		}
		
		
		@at-root .cart_btn_lg {
			width: 100%;
			padding: 15px;
			text-transform: uppercase;
		}
	}
}
/*********** Cart ***********/













/* Chosen Goods
*****************************************************************************************************/
@at-root .chosen {
	margin-bottom: 40px;
	
	@at-root .chosen_hd {
		
	}
	
	
	@at-root .chosen_bd {
		border-top: 1px solid $colorBorder;
		border-bottom: 1px solid $colorBorder;
		
		@at-root .chosen_sort {
			padding: 15px;
			border-bottom: 1px solid $colorBorder;
			
			.txt {
				
			}
			
			
			.val {
				color: #787a7d;
			}
		}
		
		
		@at-root .chosen_it {
			padding: 20px 15px;
			
			& + & {
				border-top: 1px solid $colorBorder;
			}
			
			
			@at-root .chosen_date {
				font-size: 11px;
				color: #b2b2b2;
			}
		}
	}
	
	
	@at-root .chosen_ft {
		padding: 20px 15px;
	}
}
/*********** Chosen Goods ***********/













/* Payment
*****************************************************************************************************/
@at-root .payment {
	
	@at-root .payment_hd {
		
	}
	
	
	@at-root .payment_bd {
		
		@at-root .payment_step {
			
			& + & {
				margin-top: 30px;
			}
			
			
			@at-root .payment_step_ttl {
				margin-bottom: 15px;
				padding: 0 15px;
				
				@at-root .payment_step_name {
					font-size: 16px;
				}
				
				
				@at-root .payment_step_capt {
					font-size: 13px;
					color: #b2b2b2;
				}
				
				
				@at-root .payment_step_drop {
					position: relative;
					padding-right: 20px;
					cursor: pointer;
					
					> i {
						display: block;
						height: 16px;
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						font-size: 16px;
						transition: all .3s;
					}
					
					
					&.active > i {
						transform: rotate(180deg);
					}
				}
			}
			
			
			@at-root .payment_step_cnt {
				
				@at-root .payment_tel {
					display: flex;
					padding: 0 15px;
					
					@at-root .payment_tel_inp_bx {
						flex: 1 1 auto;
						margin-right: 15px;

						.intl-tel-input {
							display: block;

							.flag-container {

								&::before {
									content: '';
									display: block;
									width: 1px;
									height: 80%;
									position: absolute;
									right: 0;
									top: 0;
									bottom: 0;
									margin: auto;
									z-index: 2;
									background: $colorBorder;
								}


								.selected-flag {
									width: 50px;
									padding-left: 10px;
									outline: 0;
								}


								.country-list {
									z-index: 10;
								}
							}
						}


						@at-root .payment_tel_inp {
							width: 100%;
							height: 35px;
							padding-left: 58px !important;
							border: 1px solid #f4f4f4;
							border-radius: 4px;
							background: #f4f4f4;
						}
					}


					@at-root .payment_tel_btn {
						flex: 0 0 auto;
						font-size: 13px;
						padding: 7px 12px;
					}
				}
				
				
				@at-root .payment_gr_bx {
					padding: 15px;
					background: #f5f5f5;
					
					@at-root .payment_gr {
						background: #fff;
						
						& + & {
							margin-top: 15px;
						}
						
						
						@at-root .payment_gr_hd {
							padding: 15px;
							font-size: 13px;
							
							a {
								color: $colorLink;
							}
						}
						
						
						@at-root .payment_gr_bd {
							border-top: 1px solid $colorBorder;
							border-bottom: 1px solid $colorBorder;
							
							@at-root .payment_it {
								padding: 20px 15px;
								
								& + & {
									border-top: 1px solid $colorBorder;
								}
							}
						}
						
						
						@at-root .payment_gr_ft {
							
							@at-root .payment_cmt {
								padding: 30px 15px;
								border-bottom: 1px solid $colorBorder;
								font-size: 13px;
								
								.ttl {
									margin-bottom: 15px;
								}
								
								
								.inp {
									margin-bottom: 7px;
								}
								
								
								.capt {
									line-height: 1.2;
									color: #8f8f8f;
								}
							}
							
							
							@at-root .payment_expense_bx {
								padding: 30px 15px;
								
								@at-root .payment_expense_ttl {
									margin-bottom: 15px;
									font-weight: 700;
								}
								
								
								@at-root .payment_expense_dlvr {
									display: flex;
									justify-content: space-between;
									margin-bottom: 10px;
									font-size: 13px;
									
									.txt {
										color: #8f8f8f;
									}
									
									
									.val {
										
									}
								}
								
								
								@at-root .payment_expense {
									margin-bottom: 0;
								}
							}
						}
					}
				}
				
				
				@at-root .payment_type {
					border-bottom: 1px solid $colorAlert;
					
					@at-root .payment_type_it {
						display: flex;
						align-items: center;
						margin-bottom: 0;
						padding: 20px 15px;
						border-top: 1px solid $colorBorder;
						cursor: pointer;
						
						@at-root .payment_type_img {
							flex: 0 0 auto;
							width: 90px;
							height: 50px;
							padding: 7px;
							border: 1px solid $colorBorder;
							border-radius: 4px;
							
							img {
								max-height: 100%;
							}
						}
						
						
						@at-root .payment_type_txt {
							flex: 1 1 auto;
							padding: 0 20px;
							line-height: 1.3;
							font-weight: bold;
						}
						
						
						@at-root .payment_type_chk {
							flex: 0 0 auto;
						}
					}
				}
			}
		}
	}
	
	
	@at-root .payment_ft {
		padding: 40px 15px;
	}
}
/*********** Payment ***********/











/* PC Cabinet
*****************************************************************************************************/
@at-root .pc_cab {
	
	@at-root .pc_cab_ttl {
		
	}
	
	
	@at-root .pc_cab_cnt {
		padding: 15px;
		padding-bottom: 50px;
		background: #f5f5f5;
		
		@at-root .pc_cab_gr {
			background: #fff;
			
			& + & {
				margin-top: 15px;
			}
			
			
			@at-root .pc_cab_gr_ttl {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px;
				cursor: pointer;
				font-size: 16px;
				font-weight: 700;
				
				.txt {
					flex: 1 1 auto;
					padding-right: 20px;
				}
				
				
				i {
					flex: 0 0 auto;
					transition: all .3s;
				}


				&.active i {
					transform: rotate(180deg);
				}
			}
			
			
			@at-root .pc_cab_gr_cnt {
				
				@at-root .pc_cab_gr_hd {
					padding: 15px;
					
					@at-root .pc_cab_gr_info {
						
						> li {
							display: flex;
							justify-content: space-between;
							font-size: 13px;
							
							& + li {
								margin-top: 5px;
							}
							
							
							.txt {
								flex: 0 0 auto;
								margin-right: 15px;
							}
							
							
							.val {
								text-align: right;
							}
							
							
							a {
								color: $colorLink;
							}
						}
					}
				}
				
				
				@at-root .pc_cab_gr_bd {
					
					@at-root .pc_cab_it {
						
					}
				}
				
				
				@at-root .pc_cab_gr_ft {
					padding: 15px;
					padding-bottom: 30px;
					
					@at-root .pc_cab_expense {
						
					}
					
					
					@at-root .pc_cab_expense_tot {
						
					}
				}
			}
		}
	}
}
/*********** PC Cabinet ***********/












/* Product One
*****************************************************************************************************/
@at-root .product_one {
	margin-bottom: 50px;
	
	@at-root .product_one_ttl {
		
	}
	
	
	@at-root .product_one_cnt {
		
		@at-root .product_one_gr {
			border-bottom: 1px solid $colorBorder;
			
			@at-root .product_one_rev {
				padding: 0 15px;
				padding-bottom: 40px;
				
				@at-root .product_one_rev_img_bx {
					margin-bottom: 30px;
					
					@at-root .product_one_rev_img {
						height: 260px;
						padding: 20px;
						border: 1px solid $colorBorder;
						position: relative;
						
						> img {
							max-height: 100%;
						}
						
						
						@at-root .product_one_rev_like {
							top: 12px;
							right: 12px;
							font-size: 18px;
						}
						
						
						@at-root .product_one_rev_ntf {
							top: 12px;
							left: 12px;
						}
					}
					
					
					@at-root .product_one_rev_img_capt {
						margin-top: 10px;
						font-size: 12px;
						font-weight: 300;
						color: #b2b2b2;
					}
				}
				
				
				@at-root .product_one_rev_txt {
					
					@at-root .product_one_rev_art {
						margin-bottom: 15px;
						font-size: 13px;
					}
					
					
					@at-root .product_one_rev_info {
						margin-bottom: 30px;
						
						> li {
							display: flex;
							font-size: 13px;
							
							& + li {
								margin-top: 5px;
							}
							
							
							.txt {
								width: 50%;
								color: #b2b2b2;
							}
							
							
							.val {
								width: 50%;
								padding-left: 15px;
							}


							a {
								text-decoration: underline;
								color: $colorLink;
							}
						}
					}
					
					
					@at-root .product_one_rev_btn {
						width: 100%;
						padding: 14px;
						text-transform: uppercase;
					}
				}
			}


			@at-root .product_one_gr_ttl {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px 15px;
				cursor: pointer;
				
				.txt {
					flex: 1 1 auto;
					padding-right: 15px;
					font-size: 20px;
					font-weight: 700;
				}


				i {
					flex: 0 0 auto;
					transition: all .3s;
				}
				
				
				&.active i {
					transform: rotate(180deg);
				}
			}


			@at-root .product_one_gr_cnt {

			}
			
			
			@at-root .product_one_chem {
				
				@at-root .product_one_chem_ttl {
					margin-bottom: 15px;
					padding: 0 15px;
				}
				
				
				@at-root .product_one_chem_cnt {
					padding: 15px;
					background: #f5f5f5;
					
					@at-root .product_one_chem_it {
						padding: 30px 15px;
						background: #fff;
						
						& + & {
							margin-top: 15px;
						}
						
						
						@at-root .product_one_chem_name {
							margin-bottom: 15px;
							font-size: 15px;
							color: #4265aa;
							
							a {
								
							}
						}
						
						
						@at-root .product_one_chem_info {
							
						}
						
						
						@at-root .product_one_chem_num {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 30px;
							
							@at-root .product_one_chem_price {

								.pc_prod_price_inr {
									text-align: left;
								}
							}
							
							
							@at-root .product_one_chem_qty {
								
							}
						}
						
						
						@at-root .product_one_chem_btn {
							background: #f4f4f4;
							color: #989898;
						}
					}
					
					
					@at-root .product_one_chem_close {
						display: flex;
						justify-content: center;
						margin-top: 15px;
						
						a {
							height: 24px;
							width: 24px;
							text-align: center;
							font-size: 16px;
							
							i {
								
							}
						}
					}
				}
			}
			
			
			@at-root .product_one_instr {
				padding: 0 15px;
			}
		}
	}
}
/*********** Product One ***********/













/* Product All
*****************************************************************************************************/
@at-root .product_all {
	margin-bottom: 50px;
	
	@at-root .product_all_hd {
		margin-bottom: 40px;
		
		.base_title_bx {
			
		}
		
		
		@at-root .product_all_menu {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			padding: 0 15px;

			> li {
				margin-bottom: 5px;
				
				&:not(:last-of-type) {
					margin-right: 15px;
				}


				a {
					padding: 2px 7px;
					border: 1px solid transparent;
					border-radius: 4px;
					color: #787a7d;
				}


				&.active a,
				a:hover {
					border-color: $colorBase;
					color: inherit;
				}
			}
		}
		
		
		@at-root .product_all_ftr {
			border-top: 1px solid $colorBorder;
			
			@at-root .product_all_ftr_ttl {
				display: flex;
				align-items: center;
				padding: 15px;
				cursor: pointer;
				font-size: 16px;
				font-weight: 700;
				
				.txt {
					
				}
				
				
				i {
					margin-left: 20px;
					transition: all .3s;
				}
				
				
				&.active i {
					transform: rotate(180deg);
				}
			}
			
			
			@at-root .product_all_ftr_cnt {
				
				@at-root .filter_gr {
					
					& + & {
						margin-top: 15px;
					}
					
					
					@at-root .filter_gr_ttl {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 15px;
						cursor: pointer;
						font-weight: 700;
						background: #f5f5f5;
						
						.txt {

						}


						i {
							flex: 0 0 auto;
							margin-left: 20px;
							transition: all .3s;
						}


						&.active i {
							transform: rotate(180deg);
						}
					}
					
					
					@at-root .filter_gr_cnt {

						@at-root .prod_all_ftr_chk_ls {
							padding: 15px;

							> li {

								& + li {
									margin-top: 10px;
								}


								@at-root .prod_all_ftr_chk {
									width: 100%;
									font-size: 14px !important;

									&:hover {
										color: $colorBase;
									}


									@at-root .prod_all_ftr_chk_txt {
										display: flex;
										justify-content: space-between;

										.txt {

										}


										.val {
											margin-left: 10px;
											font-family: $fontSecond;
											color: #8b8d90;
										}
									}
								}
							}
						}


						
						@at-root .product_all_ftr_prc {
							padding: 15px;
							
							@at-root .product_all_ftr_prc_val_bx {
								display: flex;
								justify-content: space-between;
								margin-bottom: 10px;
								
								@at-root .product_all_ftr_prc_val {
									font-family: $fontSecond;
									
									.val {
										font-weight: 700;
									}
								}
							}


							@at-root .prod_all_ftr_prc_range {
								height: 12px;
								border-color: $colorBorder;
								border-radius: 3px;
								background: #f5f5f5;


								.noUi-base {
									height: calc(100% + 2px);
									top: -1px;
								}


								.noUi-connect {
									border: 1px solid #14a9b3;
									background: $colorBase;
								}


								.noUi-handle {
									width: 22px;
									height: 22px;
									border-color: $colorBorder;
									border-radius: 50%;
									outline: 0;
									top: -5px;
									right: -11px !important;
									cursor: pointer;
									box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

									&::before,
									&::after {
										border-radius: 50%;
										left: 0;
										right: 0;
										top: 0;
										bottom: 0;
										margin: auto;
									}


									&::before {
										width: 12px;
										height: 12px;
										background: $colorBase;
									}


									&::after {
										width: 6px;
										height: 6px;
										background: #14a9b3;
									}
								}
							}
						}
					}
				}
				
				
				@at-root .filter_gr_act {
					margin-top: 20px;
					padding: 0 15px;
					
					@at-root .filter_gr_act_done {
						margin-right: 20px;
						padding: 8px 15px;
					}
					
					
					@at-root .filter_gr_act_rst {
						font-family: $fontSecond;
						border-bottom: 1px solid;
					}
				}
			}
		}
	}
	
	
	@at-root .product_all_bd {
		padding: 0 15px;
	}
	
	
	@at-root .product_all_ft {
		padding: 15px;
	}
}
/*********** Product All ***********/






















/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



