@import 'variables';
@import 'mixins';



/* Min Width
*****************************************************************************************************/

/* 350px (Min Width)
=================================================================*/
@media (min-width: 350px) {


	/*========== 350px (Min Width) ==========*/
}





/* 400px (Min Width)
=================================================================*/
@media (min-width: 400px) {


	/*========== 400px (Min Width) ==========*/
}





/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {


	/*========== 480px (Min Width) ==========*/
}





/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {


	/*========== 768px (Min Width) ==========*/
}





/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {


	/*========== 992px (Min Width) ==========*/
}















/* Max Width
*****************************************************************************************************/

/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {


	/*========== 991px (Max Width) ==========*/
}





/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {


	/*========== 767px (Max Width) ==========*/
}





/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
	.product_v {
		width: 100%;
		
		& + & {
			border-left: 0;
			border-top: 1px solid $colorBorder;
		}
	}
	.product_v_img {
		height: 180px;
	}
	
	/*========== 479px (Max Width) ==========*/
}





/* 399px (Max Width)
=================================================================*/
@media (max-width: 399px) {
	.pc_prod {
		flex-direction: column;
	}
	.pc_prod_img_bx {
		width: 100%;
		margin-bottom: 15px;
	}
	.pc_prod_img {
		height: 150px;
	}
	.pc_prod_txt {
		width: 100%;
		padding-left: 0;
	}
	.goods_add_num {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.goods_add_qty {
		width: auto;
		margin-bottom: 15px;
	}
	.goods_add_price {
		width: auto;
		padding-left: 0;
	}
	.goods_add_price_inp {
		flex-direction: column;
	}
	.goods_add_price_inp .inp {
		width: 130px;
	}
	.goods_add_price_inp .txt {
		margin-left: 0;
	}
	.pc_prod_price_inr {
		text-align: center;
	}
	.cart_expense > li {
		flex-direction: column;
		align-items: flex-start;
	}
	.cart_expense_tot {
		flex-direction: column;
	}
	.payment_expense_dlvr {
		flex-direction: column;
		align-items: flex-start;
	}
	.payment_tel {
		flex-direction: column;
	}
	.payment_tel_inp_bx {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.pc_cab_gr_info > li {
		flex-direction: column;
		
		& + li {
			margin-top: 10px;
		}
	}
	.pc_cab_gr_info > li .txt {
		margin-right: 0;
	}
	.pc_cab_gr_info > li .val {
		text-align: left;
	}
	.product_one_rev_info > li {
		flex-direction: column;
		
		& + li {
			margin-top: 10px;
		}
	}
	.product_one_rev_info > li .txt {
		width: 100%;
	}
	.product_one_rev_info > li .val {
		width: 100%;
		padding-left: 0;
	}
	.product_one_chem_num {
		flex-direction: column;
	}
	.pc_prod_price {
		margin-bottom: 15px;
	}
	.product_one_chem_price .pc_prod_price_inr {
		text-align: center;
	}

	/*========== 399px (Max Width) ==========*/
}





/* 349px (Max Width)
=================================================================*/
@media (max-width: 349px) {


	/*========== 349px (Max Width) ==========*/
}



